@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 1em;
}

/*Configurações Globais Extras*/

    a {
    text-decoration: none;
    color: white;
}

    a:hover {
        text-decoration: underline;
    }

/*Header*/

    header {
        background-color: black;
        color: white;
        text-align: center;
    }

    header > h1 {
        padding-top: 50px;
        font-size: 3em;
        font-variant: small-caps;
        font-family: var(--fonte1);
    }

    header > p {
        padding-bottom: 50px;
        font-size: 1.2em;
    }



/*Main*/

    html, body {
        max-height: 100vh;
        font-family: var(--fonte1);
    }

    section > p{
        padding-bottom: 2em;
    }

    section {
        padding-top: 10vh;
        padding-bottom: 10vh;
        padding-left: 30px;
        line-height: 2em;
        font-family: var(--fonte3);
        font-size: 2em;
    }

    section.normal {
        background-color: white;
    }

    section.imagem {
        background-color: gray;
        color: white;
        box-shadow: inset 1px 15px 5px rgba(0, 0, 0, 0.295);
    }

    section.imagem > p {
        background-color: rgba(0, 0, 0, 0.274);
        max-width: 400px;
        text-shadow: 1px 1px 0px black;
    }

    section#img01{
        background-image: url(imagens/background001.jpg);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }

    section#img02 {
        background-image: url(imagens/background002.jpg);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }

/*Footer*/

 footer {
     background-color: black;
     color: white;
     padding: 20px;
     text-align: center;
     font-size: 1.2em;
 }


